$fauxConfig: (
	paddingY: 10,
	paddingX: 10,
	opFontSize: 14,
	opLineHeight: 18
);

$fauxFonts: (
	'.fauxOption': (
		font:null,
        font-size:null,
        color:null,
        text-transform:null,
		background-color:null
	),
	'.fauxHead': (
		font:null,
        font-size:null,
        color:null,
        text-transform:null,
		background-color:null
	)
);
