//////////// ********* COLORS *************** \\\\\\

$white: #fff;

//////////// ********* FONTS *************** \\\\\\


//////////// ********* EASE *************** \\\\\\

@mixin ease{
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

//////////// ********* ROWMACHINE *************** \\\\\\

@mixin RowMachine($numperrow, $margin){
  
  width: ((100% - (($numperrow - 1) * $margin)) / $numperrow);
  margin-right: $margin;
  
    &:nth-child(n) {
      margin-bottom: $margin;
      margin-right: $margin;
    }
  
    &:nth-child(#{$numperrow}n) {
     margin-right: 0; 
      margin-bottom: 0;
    }
}

// *********************
// background size cover
// *********************
// still needs some vendor prefixes
// does not work in ie8 and below
@mixin img{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

//////////// ********* TRANSLATE *************** \\\\\\

// .tran{
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   -webkit-transform: translate(-50%, -50%);
//   -moz-transform: translate(-50%, -50%);
//   -o-transform: translate(-50%, -50%);
// }

// .trany{
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   -webkit-transform: translateY(-50%);
//   -moz-transform: translateY(-50%);
//   -o-transform: translateY(-50%);
// }

// .tranx{
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
//   -webkit-transform: translate(-50%);
//   -moz-transform: translate(-50%);
//   -o-transform: translate(-50%);
// }

// @mixin cleartran{
//   position: relative;
//   left: 0;
//   top: 0;
//   transform: translate(0, 0);
//   -webkit-transform: translate(0, 0);
//   -moz-transform: translate(0, 0);
//   -o-transform: translate(0, 0);
// }