.fauxSelectHolder{
	position: relative;

	select{
		position: absolute;
		z-index: -1;
		opacity: 0;
		filter: alpha(opacity=0);
		left: 999999px;
	}
}

.fauxSelect{
	position: absolute;
	list-style: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fauxOption{
	position: absolute;
	top: 0;
	// this is to keep longer "options" from spilling over the container
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	// include easing properties for top value
	-webkit-transition-property: top ease-in-out;
	-moz-transition-property: top ease-in-out;
	-o-transition-property: top ease-in-out;
	transition-property: top ease-in-out;
	// set/change delay and duration in optional parameters
}

.fauxSelectHolder.open .fauxOption{
	text-overflow: inherit;
	overflow: visible;
	white-space: normal;
}

// testing/development purposes only
.fauxSelectHolder{
	width: 200px;
	height: 20px;
	z-index: 20;
	cursor: pointer;
}

.fauxSelectHolder, .fauxHead, .fauxOption{
	padding: 10px 10px;
}

.fauxHead{
	background-color: #f1f1f2;
	position: absolute;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	top: 0;
	left: 0;
}

.fauxDropper{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: transparent;
}

.fauxSelect{
	padding: 0;
	margin: 0;
}

.fauxOption{
	width: calc(100% - 20px);
	min-height: calc(100% - 20px);
	margin: 0;

	@for $i from 1 through 10{
		&:nth-child(#{$i}){
			background-color: darken(red, 5 * $i);
		}
	}
}

.fauxSelectHolder .realArrow{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background-color: blue;
	right: 20px;
}
